@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Lobster&display=swap');

:root {
    --theme-logo: rgb(0, 255, 255);
    --theme-pri: rgb(39, 0, 144);
    /* --theme-sec: red;
    --theme-ter: blue; */
}

* {
    padding: 0;
    margin: 0;
    transition: all .5s ease;
    font-family: 'Alkatra', cursive;
    scroll-behavior: smooth;

    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}

.logo {
    color: var(--theme-logo);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(39, 0, 144), rgb(7, 0, 29));
    ;
    color: whitesmoke;
}

body>div {
    /* border: 2px solid red; */
    display: block;
}

#landingpage {
    /* border: 2px solid red; */
    padding-left: 8%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* animation: BGlandingpage 1s steps(1, end) 1; */
    background-image: url(./images/landingpagePNG.png);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px 10px 10px rgba(1, 0, 27, 0.458);

}

/* img {
    animation: play 0s steps(1, end) 1;
} */

/* @keyframes BGlandingpage {
    0% {
        background-image: url(./images/landingpageGIF.gif);
    }

    100% {
        background-image: url(./images/landingpagePNG.png);
    }
} */

#landingpage>:nth-child(1) {
    font-size: 4em;
}

#landingpage>:nth-child(2) {
    font-size: 1.5em;
}

#btn {
    text-decoration: none;
    font-family: cursive;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid var(--theme-logo);
    border-radius: 5px;
    padding: 5px 25px;
    max-width: fit-content;
    color: var(--theme-logo);
    background-color: transparent;
}

#btn:hover {
    color: var(--theme-pri);
    background-color: var(--theme-logo);
}

input {
    margin: 0px 5px;
}

#quizpage {
    /* border: 2px solid red; */
    padding: 5% 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Alkatra', cursive;
    /* background-image: url(./images/spaceBG.jpg);
    background-attachment: fixed;
    background-size: cover; */
}

#quizpage>* {
    /* border: 2px solid red; */
}

#quizhead {
    font-family: 'Alkatra', cursive;
    font-size: 2em;
    margin: 10px 20px;
}

#questions {
    margin: 10px 20px;
    min-height: 40vh;
    max-height: 70vh;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    /* background-color: rgba(245, 245, 245, 0.5); */
    box-shadow: 0px 0px 50px rgba(8, 0, 255, 0.814);
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: var(--theme-logo);
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.quecard {
    margin: 20px 40px;
    min-width: 30%;
    max-height: 40%;
    border: 2px solid var(--theme-pri);
    border-radius: 10px;
    padding: 20px 40px;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(218, 207, 255, 1));
    color: var(--theme-pri);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.appHead {
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    text-align: center;

    position: fixed;
    left: 0;
    top: 0;
    min-width: 100vw;
    z-index: 10;

    /* background-color: rgba(28, 59, 235, 0.559); */
    background-image: linear-gradient(180deg, rgba(39, 0, 144, 0.5), rgba(27, 0, 115, 0.5));
    ;
    border: 2px outset rgba(255, 255, 255, .1);
    box-shadow: 0px 10px 10px rgba(3, 0, 95, 0.458);
    backdrop-filter: blur(2px);
}

.heading {
    color: whitesmoke;
    font-size: xx-large;
    font-family: 'Alkatra', cursive;
    letter-spacing: 2px;
}

#headlinks {
    /* border: 2px solid red; */
    padding: 0 10px;
}

#headlinks>ul {
    display: flex;
    padding: auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    margin-top: 9px;
}

#headlinks>ul>li>a {
    text-decoration: none;
    font-size: 1.3em;
    margin: 0 50px;
    /* border: 2px solid red; */
    /* padding: 0px; */
    color: whitesmoke;
    font-family: cursive;
}

#headlinks>ul>li:hover {
    transform: scale(1.1);
    color: white;
}



.appBody {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 10px solid red;
    margin-top: 80px;
}

.mobileImage {
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 10px;
}

.reqiurementsBox {
    border: 10px solid blue;
    /* margin-left: 200px; */
}

.reqiurementsBox>ul {
    margin: 0px;
    list-style: none;
    display: inline-table;
    position: relative;
    top: 40px;
}

.reqiurementsBox>ul>li {
    padding: 5px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: whitesmoke;
    font-family: cursive;
    margin: 3px;
    border-radius: 10px;
    width: 230px;
    text-align: center;
}

.requirenmentsBox {
    float: left;
}

.requirenmentsBox>h3 {
    display: block;
    position: relative;
    top: 50px;
    left: 55px;
}

.findBox>button {
    font-size: large;
    font-family: cursive;
    background: whitesmoke;
    width: 170px;
    color: green;
    background: white;
    border: 1px solid #153859;
    border-radius: 10px;
    position: relative;
    top: 50px;
    left: 80px;
}

select,
input {
    color: #153859;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
}

.reqiurementsBox>ul>li:hover {
    box-shadow: 2px 2px 10px black;
}

.findBox>button:hover {
    color: white;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px black;
    background: #00b09b;
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    background: linear-gradient(to right, #96c93d, #00b09b);
}

.appFooter {
    position: absolute;
    top: 540px;
    text-align: center;
    margin: auto;
    font-family: cursive;
    left: 30px;
}

#displayMsg {
    font-family: cursive;
    text-align: left;
    font-size: small;
    color: black;
    box-shadow: 1px 1px 5px black;
    width: 500px;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
    left: 35px;
    box-sizing: border-box;
    padding: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

#displayMsg>button {
    margin: auto;
    display: block;
    border: none;
    font-size: large;
    font-family: cursive;
    background: whitesmoke;
    width: 100px;
    color: green;
    background: white;
    border: 1px solid #153859;
    border-radius: 10px;

}

#displayMsg>button:hover {
    color: white;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px black;
    background: #00b09b;
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    background: linear-gradient(to right, #96c93d, #00b09b);
}

.resultMobileImg {
    display: block;
    position: absolute;
    left: 430px;
    top: 80px;
}

.hideBuildImage {
    display: none;
}

.classdisplayResult {
    display: block;
}

.appFooter {
    margin: 0;
    bottom: 0;
    border: 10px solid red;
    display: block;
    width: 100vw;
}